APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:2BYCGs4HXlOtf+FJhv+eHjNxWlqwi7nzD7Nm0+rg1lI=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=graduatedproject
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

JWT_SECRET=KXI9UiKw5MNLbp01Rqce46Z33WVKTjxYM3HbultlmrDXoxiHogrUu25oEIbQz8Vg
MAILGUN_DOMAIN=sandbox02299b557b76491e903b26769a649eb1.mailgun.org
MAILGUN_SECRET=f1cca810a28cffb684791c0f98a75a79-915161b7-1fe37709

